<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul><%i=1%>
  <% @categories.each do  |category|%>
  <li id="cat<%=i%>"><%= category.title  %><%i=i+1%></li>
  <div class="card">
    <ul>
      <% category.tasks.each do |task|  %>
      <li id="task-<%=task.id%>">
        <%= task.title  %>, <%= task.category_id  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
        <%= link_to "Supprimer", task_path(task.id), method:"delete", remote: true %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
